<% provide(:title, "Admin Panel" ) %>
<% @products = Item.all %>

<nav id="navadmin" class="navbar navbar-dark  navbar-expand bg-dark sticky-top">
  <ul class="navbar-nav flex-row">
      <li class="nav-item rounded">
        <a class="nav-link" href="#byId">Item List By Id</a>
      </li>
      <li class="nav-item rounded">
        <a class="nav-link" href="#byCat">Item List By Category</a>
      </li>
  </ul>
</nav>


<div class="headertitle pt-5" id="byId">Item List By ID</div>
<div class="col-md-10 offset-md-1">
<table class="table table-bordered">
  <thead>
    <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Description</th>
    <th>Category</th>
    <th>Picture</th>
    <th>Price</th>
  </thead>
  <tbody>
  <% @products.each do |f| %>
    <tr>
    <th><%= f.id %></th>
    <th><%= f.name %></th>
    <th><%= f.description %></th>
    <th><%= f.category %></th>
    <th><%= f.picture %></th>
    <th><%= f.price %></th>
    </tr>
  <% end %>
  </tbody>
</table>
</div>

<div class="headertitle pt-5" id="byCat">Item List By Category</div>
<div class="col-md-10 offset-md-1">
<% @array = allCategory(Item) %>
<table class="table table-bordered">
  <thead>
    <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Description</th>
    <th>Category</th>
    <th>Picture</th>
    <th>Price</th>
  </thead>
  <% @array.each do |k| %>
  <% @products = Item.where(category:k) %>
  <% @products.each do |f| %>
    <tr>
    <th><%= f.id %></th>
    <th><%= f.name %></th>
    <th><%= f.description %></th>
    <th><%= f.category %></th>
    <th><%= f.picture %></th>
    <th><%= f.price %></th>
    </tr>
  <% end %>
  <% end %>
</table>
</div>

