<% provide(:title, "Profile (#{@user.name})") %>

<div class="headertitle">User Profile ~ <%= @user.name %></div>
<% @user_orders = @user.orders.reorder('pickup_time ASC') %>


<% unless @user_orders == [] %>
  <% @ordered_orders = @user_orders.where(order_status_id:2) %>
  <% @picked_up_orders = @user_orders.where(order_status_id:3) %>
  <% @cancelled_orders = @user_orders.where(order_status_id:4) %>
  <% @abandoned_orders = @user_orders.where(order_status_id:5) %>

  <%= render 'shared/order_target', locals: {target_name:"Ordered Orders", order_target: @ordered_orders } %>
  <%= render 'shared/order_target', locals: {target_name:"Picked Up Orders", order_target: @picked_up_orders } %>
  <%= render 'shared/order_target', locals: {target_name:"Abandoned Orders", order_target: @abandoned_orders } %>
  <%= render 'shared/order_target', locals: {target_name:"Cancelled Orders", order_target: @cancelled_orders } %>

<% else %>
  <p class="mt-3 center">Unfortunately you havent any orders yet. <%= link_to "Order now !!", root_path %></p>
<% end %>
