<% if  user_signed_in? && current_user.admin == true %>
  <li class="nav-item rounded <%= activeProvide(itemsbyid_path) %>"><%= link_to "Item-Id", itemsbyid_path, class:"nav-link" %></li>
  <li class="nav-item rounded <%= activeProvide(itemsbycat_path) %>"><%= link_to "Item-Category", itemsbycat_path, class:"nav-link" %></li>
  <li class="nav-item rounded <%= activeProvide("orders_index_path") %>"><%= link_to "OrdersList", orders_path, class:"nav-link" %></li>
  <li class="nav-item rounded <%= activeProvide(new_item_path) %>"><%= link_to "NewItem", new_item_path, class:"nav-link" %></li>
<% end %>
