<% provide(:title, "Confirm Order") %>
<h1 class="headertitle">Confirm Order</h1>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= form_for(@order) do |f| %>

      <%= render "devise/shared/error_messages", resource: @order %>

      <%= f.label :pickup_time %>
      <%= f.time_field :pickup_time, class:'form_control' %>

      <%= f.submit "Confirm", class:"btn btn-primary" %>

    <% end %>
  </div>
</div>
