<% provide(:title, "Orders List") %>
<% @order_all = Order.all %>
<div class="headertitle pt-5">Order List</div>

<div class="col-md-12 offset-md-0 bd-dark">
  <table class="table table-hover table-borderd", style="font-family: Arial;">
    <thead>
      <tr class="table-primary">
        <th>Id</th>
        <th>Items</th>
        <th>Total</th>
        <th>Pickup Time</th>
        <th>Ordered At</th>
        <th>Updated At</th>
        <th>Status</th>
      </tr>
      </thead>
  <% @order_all.each do |f| %>
    <tr>
      <th><%= sprintf("%010d",f.id) %></th>
      <th class="col-3"><ul><% f.order_items.each do |k| %><% unless k.item.nil? %><li><%= k.item.name %> (<%= k.quantity %>) </li><% else %><li style="color:red;">inactive item</li> <% end %><% end %></ul></th>
      <th><%= f.subtotal %></th>
      <th><%= f.pickup_time %></th>
      <th><%= f.created_at %></th>
      <th><%= f.updated_at %></th>
      <th><%= f.order_status.name %></th>
    </tr>
  <% end %>
  </table>
</div>
