<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @order_items.size == 0 %>
  <p class="text-center">
    There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
  </p>
<% else %>
  <div class="col-md-10 offset-md-1 mt-5 mb-3">
  <% @order_items.each do |order_item| %>
    <%= render 'carts/cart_row', item: order_item.item, order_item: order_item, show_total: true %>
  <% end %>
  <% @total = 0 %>
  <% @order_items.each do |f| %>
    <% @total += f.total_price %>
  <% end %>
  <div class="col-md-4 offset-md-8 pt-4 pl-0  mt-3 border-dark border-top text-right">
    <h2>TOTAL : <%= sprintf("RM%.2f", @total) %></h2>
    <%= link_to "Confirm Pick-Up Time !", edit_order_path(current_order), class:'btn btn-primary' %>
  </div>
  </div>
<% end %>
