<% provide(:title, "Items(Category)" ) %>
<% @products = Item.all %>
<% @colors = ["secondary","success","danger","warning","light","dark","primary"] %>

<div class="headertitle pt-5" id="byCat">Item List By Category</div>
<div class="col-md-12 offset-md-0 bg-dark">
<% @array = allCategory(Item) %>
<table class="table table-hover table-bordered">
  <thead>
    <tr class="table-primary">
    <th>Id</th>
    <th>Name</th>
    <th>Description</th>
    <th>Category</th>
    <th>Picture</th>
    <th>Price</th>
    <th>Edit</th>
    <th>Del</th>
  </thead>
  <% @array.each_with_index do |k,i| %>
  <% @products = Item.where(category:k) %>
  <% @products.each do |f| %>
    <tr class="table-<%= @colors[i%5] %>">
    <th><%= f.id %></th>
    <th><%= f.name %></th>
    <th><%= f.description %></th>
    <th><%= f.category %></th>
    <th><%= image_tag f.picture.url, size:"100x100", class:"logo" if f.picture?%></th>
    <th><%= f.price %></th>
    <th><%= link_to "Edit", edit_item_path(f)%></th>
    <th><%= link_to "Del", f , method: :delete, data: { confirm: "Are you sure to delete #{f.name}?" } %></th>
    </tr>
  <% end %>
  <% end %>
</table>
</div>

