<% provide(:title, "Items(Category)" ) %>
<% @products = Item.all %>
<% @colors = ["secondary","success","danger","warning","light","dark","primary"] %>

<div class="headertitle pt-5" id="byCat">Item List By Category</div>
<div class="center bg-light"><%= link_to "New Item", new_item_path, class:"btn btn-info mt-2 mb-3" %></div>
<div class="col-md-12 offset-md-0 bg-light">
<% @array = allCategory(Item) %>
<table class="table table-hover table-bordered">
  <thead>
    <tr class="table-primary">
    <th>Id</th>
    <th>Name</th>
    <th>Description</th>
    <th>Category</th>
    <th>Picture</th>
    <th>Price</th>
    <th>Edit</th>
    <th>Del</th>
  </thead>
  <% @array.each_with_index do |k,i| %>
  <% @products = Item.where(category:k) %>
  <% @products.each do |f| %>
    <tr class="table-<%= @colors[i%5] %>">
    <td><%= f.id %></td>
    <td><b><%= f.name %></b></td>
    <td><%= f.description %></td>
    <td><%= f.category %></td>
    <td><%= image_tag f.picture.url, size:"100x100", class:"logo" if f.picture?%></td>
    <td><%= f.price %></td>
    <td><%= link_to "Edit", edit_item_path(f)%></td>
    <td><%= link_to "Del", f , method: :delete, data: { confirm: "Are you sure to delete #{f.name}?" } %></td>
    </tr>
  <% end %>
  <% end %>
</table>
</div>

