<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title)%> | RestaurantApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-spy="scroll" data-target="#navexample">
      <%= render 'layouts/header' %>
      <%= render 'layouts/flashmesj' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
  </body>
</html>
